<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Movies</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Buscar</a></li>
    <li><%= link_to 'Agregar', new_pelicula_path %></li>
    <li><a href="#">Soporte</a></li>
  </ul>
</nav>
<div class="container">
  <div id="items">
    <%= render @peliculas %>
  </div>
</div>

<%= link_to 'New Pelicula', new_pelicula_path %>
